
*{
  padding: 0;
  margin: 0;
  font-family: "Century Gothic";
  list-style: none;
  text-decoration: none;
 }
body{
  background: #CCD1D1;
  }
.wrap{
  display:flex;
  flex-direction: row;
}
.card{
	width: 366px;
	top: 50%;
	left: 50%;
	background: #f1f1f1;
  transform: translate( -50%, -50%^)
  overflow: hidden;
  box-shadow: 0px 0px 20px #000000b3;
  border-radius: 12px;
  float: left;
  margin: 10px;
  transition: 0.4s;
  position: inherit; 

}

.card-header{
  height: 300px;
  overflow: hidden;
  position: relative;
}
.card-header img{
  height:100%;
  width: 100%;
  border-radius: 12px;
}
.card-header .cover{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.card-header .name{
  position: absolute;
	bottom: 20px;
  left: 20px;
  color: #ECF0F1;
  opacity: 0.8;
  text-shadow: 0 0 3px #17202A, 0 0 5px #229954;


}
.card-header .last{
  display: block;
  font-size: 36px;

}
.card-header .first{
  display: block;
  font-size: 36px;

}
.container{
  padding: 5px;
  overflow: hidden;
}
.left-section{
}
.left-section h3{
  color: #3498DB  ;
  text-decoration: underline;
  text-transform: full-width;
  text-align: center;
  font-size: 30px;
}
.left-section p{
  margin: 30px 0;

}
.left-section .followbtn{
  width: 345px;
  background: #3498DB  ;
  border-radius: 12px;
  color: white;
  text-align: center;
  display: block;
  padding: 7px 0;
  transition: 0.2s all;
  text-decoration: none;

}
.left-section .followbtn:hover{
  color: #17202A;
}
}
.right-section{
  width: 300px;
}
.right-section h3{
  color: #3498DB  ;
}
.right-section p{
  margin: 30px 0;
}
.right-section .follown{
  width: 345px;
  background: #3498DB  ;
  border-radius: 12px;
  color: white;
  text-align: center;
  display: block;
  padding: 7px 0px;
  transition: 0.2s all;
  text-decoration: none;
}

.right-section .follown:hover{
  color: #17202A;
}
