body{
	background-image: url(../Images/i.jpg)
}
.simple-form{
	text-align: center;
	margin: 100px 700px;
	
}
#regis{
	width:400px;
	height: 450px;
	background-color: #051019;
	opacity: 0.8;
	padding: 80px 50px;
	border-radius: 6px;
	back
}
#button{
	width: 250px;
	padding: 10px;
	border-radius: 5px;
	outline: 0px;
	opacity: 3;
}
#ph{
	width: 90px;
	padding: 10px;
	border-radius: 5px;
}
#ph2{
	width: 50px;
	padding: 10px;
	border-radius: 5px;
}
#ph3{
	width: 80px;
	padding: 10px;
	border-radius: 5px;
}
#yup{
	width: 278px;
	padding: 10px;
	border-radius: 5px;
	outline: 0px;
	font-size: 20px;
}

#dob{
	font-size:20px;
}

.yup2{
	text-align: center;
	margin: 400px 700px;
}
#yup2{
	width: 550px;
	padding: 10px;
	border-radius: 5px;
	outline: 0px;
	font-size: 20px;
}
	
	
