body
{
  margin: 0;
  padding: 0;
  font-family: Comic-Sans-MS;
  font-size: 30px;
}
nav
{
  width: 100%;
  background:  #5dade2;
;
}
ul
{
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
ul li
{
  list-style: none;
  display: inline-block;
  padding: 20px;
}
ul li:hover
{
  background: #000000;
}
ul li a
{
  color: #fff;
  text-decoration: none;
}
h1
{
  font-size: 50px;
  font-style: italic;
  font-family: Comic-Sans-MS;
  float:left;
}
h2
{
  float: inherit;
  font-size: 30px;
}
p{
  font-size: 30px;
  float: left;
}
.p
{
  padding: inherit;
  box-sizing: border-box;
  margin: 20px 30px;
  width: 50%;
  text-align: left;
}
.p1
{
  padding: inherit;
  box-sizing: border-box;
  margin: 20px 30px;
  width: 50%;
  float: right;
  text-align: right;
}
.pane
{
  padding: inherit;
  margin: auto;
}
.toggle
{
  width: 100%;
  padding: 10px 20px;
  background: #001f44;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}
@media (max-width: 768px)
{
  .toggle
  {
    display: block;
  }
  ul
  {
    width: 100%;
    display: none;
  }
  ul li
  {
    display: block;
    text-align: center;
  }
  .active
  {
    display: block;
  }
